.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d73d36;
  padding: 0 0 16px 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
a {
  outline: none;
  text-decoration: none;
}
a:link, a:visited, a:focus, a:active {
  outline: none;
  text-decoration: none;
}
.linkToCheffy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 32px;
  width: 32px;
}
.headerTitle {
  color: #fff;
  display: inline;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin-left: 20px;
}
.navbar{
  display:flex;
  flex-direction: row;
  min-width: 80%;
  align-items: flex-end;
  justify-content: flex-end;
}
.contactUs{
  align-self: center;
  justify-self: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 20px;
}