.scheduleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  min-height: 180px;
}
.scheduleBoard {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.btnBox{
    position: absolute;
    bottom: 78px;
}
.btn {
  border: 1px solid #d73d36;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.addbtn {
  color: #d73d36;
}
