.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender {
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.AddTaskbtn{
    background-color: #d73d36;
    color: #fff;
    border-radius: 50%;
    height: 2rem;
}

.MuiPickersDay-daySelected {
  background-color: #d73d36;
}
.MuiPickersToolbar-toolbar {
  background-color: #d73d36;
}

